.btn-light-purple {
  background-color: $hackachieve-light-purple !important;
}

.negative {
  background-color: darken($hackachieve-light-pink, 20%) !important;
}

.btn-light-green,
.positive {
  background-color: $hackachieve-light-green !important;
}
#btnLoginForm {
  display: block;
  color: #fff;
  font-size: 15px;
  background: #f05765;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}
#btnSignupForm {
  display: block;
  color: #fff;
  font-size: 15px;
  background: #18b47e;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}
