//White x Gray variations
$hackachieve-light-gray: #f4f4fc;
$hackachieve-white: #f8f8ff;
$hackachieve-medium-gray: #e0e0ec;
$hackachieve-grey: #ccccd0;
$hackachieve-dark-grey: #54575d;
$hackachieve-text-grey: #8a8c92;

//Logo colors
$hackachieve-darker-purple: #1f2350;
$hackachieve-dark-purple: #36387c;
$hackachieve-light-purple: #756cae;
$hackachieve-green: #48b2c9;

//Other
$hackachieve-purple: #796db6;
$hackachieve-orange: #f89767;
$hackachieve-yellow: #fedd93;
$hackachieve-dark-yellow: #feb732;
$hackachieve-blue: #5dc8e2;
$hackachieve-dark-blue: #354aa4;
$hackachieve-light-pink: #f1afba;
$hackachieve-pink: #f15864;
$hackachieve-light-green: #17e09d;

// business categories colors
$hackachieve-color-operations: #eed69e;
$hackachieve-color-marketing: #8e436b;
$hackachieve-color-learning: #f175aa;
$hackachieve-color-sales: #45725c;

/* Colors classes =========================================== */

.color-other {
  color: $hackachieve-darker-purple;
}

.color-health {
  color: $hackachieve-blue;
}

.color-career {
  color: $hackachieve-dark-blue;
}

.color-family {
  color: $hackachieve-orange;
}

.color-finances {
  color: $hackachieve-orange;
}

.color-leisure-and-fun {
  color: $hackachieve-light-green;
}

.color-spiritual {
  color: $hackachieve-light-purple;
}

.color-personal-development {
  color: $hackachieve-pink;
}

.color-recruitment {
  color: $hackachieve-dark-blue;
}

.color-operations {
  color: $hackachieve-color-operations;
}

.color-marketing {
  color: $hackachieve-color-marketing;
}

.color-learning {
  color: $hackachieve-color-learning;
}

.color-sales {
  color: $hackachieve-color-sales;
}

.text-grey {
  color: $hackachieve-text-grey;
}

.text-hackachieve-dark-purple {
  color: $hackachieve-dark-purple !important;
}
