.internal-page {
  min-height: 88vh;
  padding-top: 12rem;
  padding-bottom: 3rem;
}

.internal_header {
  height: 80vh;

  .internal-sec {
    padding: 120px 0 100px;
  }

  .mobile-logo {
    display: none;
  }

  .internal-sec h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0 0 30px 0;
  }

  .internal-inner {
    background: #f4f4fc;
    width: 600px;
    margin: 0 auto;
    display: table;
    padding: 1.5rem 2rem 2rem 1.5rem;
    border-radius: 5px;

    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    button {
      margin-top: 2rem;
    }
  }

  .internal-form {
    width: 250px;
    margin: 0 auto;
  }

  .form-group {
    margin: 0 0 20px 0;
  }

  .form-group label {
    display: block;
    color: #54575d;
    font-size: 16px;
    padding: 0 0 10px 0;
  }

  h5 {
    color: #bdbdd0;
    font-size: 16px;
    padding: 30px 0 20px 0;
    text-align: center;
  }

  hr {
    border-bottom: solid 1px #e1e1ed;
    margin: 35px 0 15px;
    display: block;
  }

  h5.padding {
    color: #bdbdd0;
    font-size: 16px;
    padding: 0px 0 20px 0;
    text-align: center;
  }

  .internal-bottom {
    width: 250px;
    margin: 0 auto;
  }

  .f-img {
    display: block;
    margin: 20px 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .internal-sec {
    padding: 30px 0 50px !important;
    margin-top: 5rem;
  }
  .internal-menu {
    display: none !important;
  }
  .mobile-logo {
    display: block !important;
    text-align: center;
    padding: 50px 0 0 0;
  }
  .home_header.internal_header {
    height: auto;
    padding: 0 15px 50px;
  }
  // .internal-inner {
  //   background: transparent !important;
  //   padding: 0 !important;
  // }
  .internal-form {
    width: 90% !important;
    margin: 0 auto;
    background: #f4f4f4;
    padding: 25px;
    border-radius: 5px;
  }
  hr {
    border-bottom: solid 1px transparent !important;
    margin: 35px 0 15px;
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .internal-inner {
    width: 100% !important;
  }
  .home_header.internal_header h5.padding {
    padding: 0px 15px 20px 15px !important;
  }
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 46vh;

  /*MOBILE ONLY CODE*/
  @media screen and (max-width: 770px) {
    padding-top: 6rem;
  }

  h3 {
    flex: 100%;
  }
}
