// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);

$font-primary: 'Lato', sans-serif;

@font-face {
  font-family: 'Lato';
  font-display: auto;
  src:local('Lato'), url(ttps://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);

}