
.hackachieve-dropdown-wrapper {
  flex: 0 1 191px;
  width: 191px;
  position: relative
}

.hackachieve-dropdown-wrapper .hackachieve-dropdown {
  border-color: transparent;
  background-color: #F4F4FC;
  border-radius: 3px;
  height: 35px;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #54575D;
  font-size: 16px;
  padding: 0 10px;
  -webkit-appearance: none
}

.hackachieve-dropdown-wrapper .dropdown-arrow {
  position: absolute;
  right: 10px;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #54575D
}
