.message {
  .header {
    color: white !important;
  }
  .content {
    margin-top: 0.5rem;
  }
  color: white !important;

  .alert-list {
    margin-top: 0.5rem;

    li {
      strong {
        text-transform: capitalize;
      }
    }
  }
}
