.header_menu{
    height: 10vh;
    background: #1F2350;
    display: flex;
    align-items: center;
    width:100%;
    color:white;
    img{
        width:200px;
        height: 43px;
        box-sizing: border-box;
        align-self: center;
    }
    .green{
        background-color: rgba($color: #18B47E, $alpha: 0.5);
    }
    .grey{
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        
    }
    .login, .signup{
        color:white;
        font-size: 0.9rem !important;
        text-transform: uppercase;
    }
}
.ui.secondary.inverted.pointing.menu .active.item{
    border-color: transparent;
}
