.header_menu {
  height: 10vh;
  background: #1F2350;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;

  .logo-link {
    width: 200px;
    height: 43px;
    box-sizing: border-box;
    align-self: center;
    cursor: pointer;
  }

  .right.item {
    .button {
      margin-left: 1rem !important;
    }
  }


  .login, .signup {
    color: white;
    font-size: 0.9rem !important;
    text-transform: uppercase;
  }
}

.ui.secondary.inverted.pointing.menu .active.item {
  border-color: transparent;
}

.home_header {
  height: 90vh;
  background: #1F2350;
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 700;
      font-size: 50px;
      margin: 0;
      color: #FFFFFF;
      margin-top: 45px;
    }
    h2 {
      font-weight: 900;
      font-size: 18px;
      color: #FFFFFF;
      opacity: 0.6;
      margin: 0;
    }
    a {
      margin-top: 25px;
      border-radius: 4px;
      width: 380px;
      height: 50px;
      background-color: #F05765;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}

.character_parent {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  .character {
    height: auto;
    position: absolute;
    top: 0px;
    margin-top: 55vh;
    img {
      max-width: 600px;
      width: 100%;
      @media screen and (min-width: 1000px) {
        // max-width: 800px;
      }
    }
  }

}

.pusher {
  margin-top: 200px;
}

//
.hidden.menu {
  display: none;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;

}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
