.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fluid .fileuploader {
  background: $hackachieve-light-green;
  border-radius: 30px;
  width: 145px;
  height: 35px;
  color: #fff;
}

.attachment {
    color: #54575d;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
.fileuploading{
	z-index: 1100!important;
}