main.board-main {
  background-color: darken($hackachieve-dark-purple, 10%);
  min-height: 94vh;
  padding: 0 1rem;

  /*MOBILE ONLY CODE*/
  @media screen and (max-width: 850px) {
    padding: 10rem 1rem;
  }

  .board-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: -1rem;

    ///*MOBILE ONLY CODE*/
    //@media screen and (max-width: 850px) {
    //  flex-direction: column-reverse;
    //}

    .board-column-add {
      margin-right: 1rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
      position: relative;
      flex: 1 1 365px;
      max-width: 365px;
      background-color: $hackachieve-white;
      height: 65px;
      max-height: 65px;
      width: 365px;
      align-self: flex-start;
      border: 1px solid darken($hackachieve-light-gray, 1%);
      @include shadow;

      display: flex;
      flex-wrap: wrap;

      /*MOBILE ONLY CODE*/
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      border-top: 8px solid transparent;
    }
    .board-column-add:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 8px;
      background: linear-gradient(
        to right,
        #5dc8e2,
        #3ecedf,
        #15d3d8,
        #00d8cc,
        #00dcbb,
        #46d799,
        #6cd076,
        #8cc753,
        #b7b02e,
        #d79429,
        #ec7542,
        #f15864
      );
      top: -8px;
      border-top-left-radius: 2px;
      left: 0;
      border-top-right-radius: 2px;
    }

    .board-column {
      margin-right: 1rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
      align-self: flex-start;
      margin-right: 1rem;
      margin-bottom: 1rem;
      flex-direction: column;
      position: relative;
      flex: 1 1 311px;
      max-width: 311px;
      background-color: $hackachieve-white;
      min-height: 400px;
      height: 100%;
      border-radius: 4px;
      border: 1px solid darken($hackachieve-light-gray, 1%);
      @include shadow;

      display: flex;
      flex-wrap: wrap;

      /*MOBILE ONLY CODE*/
      @media screen and (max-width: 700px) {
        width: 100%;
      }

      .column-header {
        flex: 1 1 100%;
        max-height: 60px;
        border-bottom: 1px solid $hackachieve-medium-gray;
        padding-bottom: 5.2rem;
        width: 100%;

        .member-icons{
          display: flex;
          align-items: center;
          position: absolute;
          top: 2.5rem;
          width: 90%;
          flex-direction: row;
          justify-content: flex-end;
          ul{
            margin: 0;
            padding: 0;
            li{
              display: inline-block;
              padding: 0px;
        
              a{
                &.board-name{
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                padding: 10px;
                display: block;
                margin-right: 30px;
                }
                &.board-invite-btn{
                  display: flex;
                  align-items: center;
                  background-color: #5aac44;
                  font-family: "Lato", sans-serif;
                  font-weight: bold;
                  height: 29px;
                  color: white;
                  text-align: center;
                  font-size: 14px;
                  cursor: pointer;
                  border-radius: 4px;
                  box-sizing: border-box;
                  transition: all 0.25s ease-in;
                  padding: 0 0.8rem;
                  margin-left: 20px;
                }
              }
             span{
               &.member{
                 display: flex;
                 width: 28px;
                 height: 28px;
                 border-radius: 50%;
                 background-color: #dfe1e6;
                color: #172b4d;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                margin-left: -2px;
               }
             }
            }
          }
  
        }
      }



      .column-status {
        flex: 1 1 100%;
        margin-top: 0.7rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        box-sizing: border-box;
        width: 100%;

        height: 36px;

        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        #goal-progress {
          margin-top: 0.5rem;
          flex: 1 1 100%;
        }

        .column-status-deadline {
          margin-left: auto;
        }

        .column-status-completed,
        .column-status-deadline {
          flex: 0 0 auto;

          display: flex;
          align-items: center;

          .column-status-completed-icon {
            background-image: url("/images/icons/list-icon.svg");
            width: 12px;
            height: 12px;
            background-position: center;
            background-size: contain;
          }
          .column-status-deadline-icon {
            background-image: url("/images/icons/calelndar-icon.svg");
            width: 12px;
            height: 12px;
            background-position: center;
            background-size: contain;
          }
          .column-status-completed-text,
          .column-status-deadline-text {
            font-family: $font-primary;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: lighten($hackachieve-dark-grey, 5%);
            margin-left: 0.5rem;
          }
        }
      }

      .column-body,
      .column-footer {
        flex: 1 1 100%;
        max-height: 65vh;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
      .column-footer {
        margin-bottom: 1.2rem;

        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .column-add-short-term-goal {
          flex: 100%;
        }

        textarea {
          border-radius: 5px;
          flex: 100%;

          &::placeholder {
            color: $hackachieve-grey;
            font-size: 1rem;
          }
        }
      }

      .column-info {
        width: auto;
        position: absolute;
        top: 0.7rem;
        left: 1.2rem;
        height: 17px;
        display: flex;
        flex-wrap: nowrap;

        .column-icon {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin-right: 0.5rem;
          flex: 0 0 21px;
          width: 21px;
          height: 21px;

          &.health-icon {
            background-image: url("/images/icons/health-icon-color.svg") !important;
          }

          &.family-icon {
            background-image: url("/images/icons/family-icon-color.svg") !important;
          }

          &.career-icon {
            background-image: url("/images/icons/career-icon-color.svg") !important;
          }

          &.finances-icon {
            background-image: url("/images/icons/finances-icon-color.svg") !important;
          }

          &.leisure-and-fun-icon {
            background-image: url("/images/icons/fun-icon-color.svg") !important;
          }

          &.recruitment-icon {
            background-image: url("/images/icons/recruitment-icon.svg") !important;
          }

          /*Other icon should NEVER be !important, since it's only a fallback in case no icon is found!*/
          &.other-icon {
            background-image: url("/images/icons/other-icon.svg");
          }

          &.operations-icon {
            background-image: url("/images/icons/operations-icon.svg") !important;
          }

          &.marketing-icon {
            background-image: url("/images/icons/marketing-icon.svg") !important;
          }

          &.learning-icon {
            background-image: url("/images/icons/learning-icon.svg") !important;
          }

          &.sales-icon {
            background-image: url("/images/icons/sales-icon.svg") !important;
          }

          &.personal-development-icon {
            background-image: url("/images/icons/personal-dev-icon-color.svg") !important;
          }

          &.spiritual-icon {
            background-image: url("/images/icons/spiritual-icon-color.svg") !important;
          }
        }

        .column-board {
          flex: 1 1 auto;
          font-family: $font-primary;
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 0.2rem;
          font-weight: bold;
          align-self: center;
        }
      }

      .column-title {
        position: absolute;
        top: 3rem;
        left: 1.2rem;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 18.1px;
        letter-spacing: 0.5px;
        color: $hackachieve-dark-grey;
      }

      .column-dropdown {
        width: 32px;
        height: 19.1px;
        position: absolute;
        top: 1.2rem;
        right: 0.1rem;
        background-size: contain;
        background: url("/images/icons/more.svg") no-repeat center;
        background-size: contain;
      }

      /* Column colors =========================================== */

      &.column-other {
        border-top: 0.5rem solid $hackachieve-darker-purple;
      }

      &.column-health {
        border-top: 0.5rem solid $hackachieve-blue;
      }

      &.column-leisure-and-fun {
        border-top: 0.5rem solid $hackachieve-light-green;
      }

      &.column-career {
        border-top: 0.5rem solid $hackachieve-dark-blue;
      }

      &.column-family {
        border-top: 0.5rem solid $hackachieve-orange;
      }
      &.column-finances {
        border-top: 0.5rem solid $hackachieve-orange;
      }

      &.column-spiritual {
        border-top: 0.5rem solid $hackachieve-light-purple;
      }

      &.column-personal-development {
        border-top: 0.5rem solid $hackachieve-pink;
      }

      &.column-recruitment {
        border-top: 0.5rem solid $hackachieve-dark-blue;
      }

      &.column-operations {
        border-top: 0.5rem solid #eed69e;
      }

      &.column-marketing {
        border-top: 0.5rem solid #8e436b;
      }

      &.column-learning {
        border-top: 0.5rem solid #f175aa;
      }

      &.column-sales {
        border-top: 0.5rem solid #45725c;
      }
    }
  }

  .column-add-short-term-goal {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;

    transition: all 0.5s ease-in;
    justify-content: center;
    align-items: center;
    @include shadow();
    border: 1px solid $hackachieve-grey;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    //border-top:3px solid #17E09D;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .column-add-short-term-goal-btn {
      flex: 1 1 1;
      width: 33px;
      height: 33px;
      background: url("/images/icons/new-short-goal-icon.svg") no-repeat center;
      background-size: contain;
      opacity: 1;
    }

    .column-add-short-term-goal-text {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: bold;
      margin-left: 0.5rem;
      opacity: 1 !important;
      color: darken($hackachieve-dark-grey, 5%);
    }
  }
}

.board-column.column-other.column-finances .column-card.column-card-priority {
  background-color: #e69e56;
  border: 1px solid #e69e56;
}

.i-phone {
  display: none;
}

.column-body .column-card.white .column-card-deadline-icon {
  background-image: url("/images/icons/calelndar-icon.svg") !important;
}

.column-card.white .column-card-body {
  border-bottom: 1px solid rgba(189, 189, 208, 0.5);
}

@media screen and (max-width: 850px) {
  header.board-header .board-header-bar {
    height: 12.6rem;
  }
}

@media screen and (min-width: 850px) {
  header.board-header .board-header-bar .board-header-logo .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  header.board-header .board-header-bar .board-header-logo {
    flex: 1 1 100%;
    height: 4rem;
  }
}

@media screen and (max-width: 850px) {
  header.board-header .board-header-bar .board-profile {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  header.board-header .board-header-bar .board-switch {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 850px) {
  header.board-header .board-header-bar .board-switch .board-switch-item {
    height: 50px;
    top: 0.3rem;
  }
}

header.board-header
  .board-header-bar
  .board-switch
  .board-switch-item.switch-active
  .board-switch-icon {
  background: url("/images/icons/completed-goal-active-icon.svg") center
    no-repeat;
}

header.board-header
  .board-header-bar
  .board-switch
  .board-switch-item.switch-active
  .board-switch-text {
  color: #f05765;
}

@media screen and (max-width: 850px) {
  header.board-header .board-header-bar .board-selector {
    flex: 1 1 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}
